# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.mat
*.c
*.mexw64
*.tlc
Segway/DFrobot_QuadMotor_MCC_BO_Mesure/rtwmakecfg.m
*.dmr
*.xml
*.tmw
*.dep
*.mk
*.o
*.h
*.bat
*.eep
*.hex
*.slxc
*.trash
Segway/OSEPP_MPU_60X0/untitled_ert_rtw/tmwinternal/tr
Segway/OSEPP_MPU_60X0/untitled_ert_rtw/modelsources.txt
Segway/OSEPP_MPU_60X0/untitled_ert_rtw/extmode_task_info.m
Segway/OSEPP_MPU_60X0/untitled_ert_rtw/defines.txt
Segway/OSEPP_MPU_60X0/untitled.elf
Segway/DFrobot_QuadMotor_MCC_BO_Mesure/untitled_ert_rtw/tmwinternal/tr
Segway/DFrobot_QuadMotor_MCC_BO_Mesure/untitled_ert_rtw/modelsources.txt
Segway/DFrobot_QuadMotor_MCC_BO_Mesure/untitled_ert_rtw/extmode_task_info.m
Segway/DFrobot_QuadMotor_MCC_BO_Mesure/untitled_ert_rtw/defines.txt
*.ci
*.mrs
Seminaire-Nos-2022-STI-UPSTI-IGESR-TIPE-E-SERNA.pdf
*.elf
Transmotec/untitled_ert_rtw/extmode_task_info.m
Transmotec/untitled_ert_rtw/xcp/addr_table.json
